<?xml version="1.0"?>
<!--
/**
 * Magento Simple Asyncronous Queuing Module
 *
 * @category    Lilmuckers
 * @package     Lilmuckers_Queue
 * @copyright   Copyright (c) 2013 Patrick McKinley (http://www.patrick-mckinley.com)
 * @license     http://choosealicense.com/licenses/mit/
 */
-->
<config>
    <modules>
        <Lilmuckers_Queue>
            <version>1.0.0</version>
        </Lilmuckers_Queue>
    </modules>

    <phpunit>
        <suite>
            <modules>
                <Lilmuckers_Queue/>
            </modules>
        </suite>
    </phpunit>

    <global>
        <models>
            <lilqueue>
                <class>Lilmuckers_Queue_Model</class>
            </lilqueue>
            <index>
                <rewrite>
                    <process>Lilmuckers_Queue_Model_Indexer_Process</process>
                </rewrite>
            </index>
        </models>

        <helpers>
            <lilqueue>
                <class>Lilmuckers_Queue_Helper</class>
            </lilqueue>
        </helpers>

        <queue>
            <adapters>
                <beanstalkd>
                    <class>lilqueue/adapter_beanstalk</class>
                </beanstalkd>
                <amazonsqs>
                    <class>lilqueue/adapter_amazon</class>
                </amazonsqs>
                <gearman>
                    <class>lilqueue/adapter_gearman</class>
                </gearman>
            </adapters>
            <beanstalkd>
                <servers>
                    <server>
                        <port>11300</port>
                        <priority>1024</priority>
                        <delay>0</delay>
                        <ttr>60</ttr>
                    </server>
                </servers>
            </beanstalkd>
            <amazonsqs>
                <connection>
                    <delay>0</delay>
                    <ttr>60</ttr>
                    <wait>5</wait>
                </connection>
            </amazonsqs>
            <gearman>
                <servers>
                    <server>
                        <host>127.0.0.1</host>
                        <port>4730</port>
                    </server>
                </servers>
            </gearman>
        </queue>
    </global>
    <crontab>
        <jobs>
            <lilqueue_index>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>lilmuckers_queue/observer::lilqueue_index</model>
                </run>
            </lilqueue_index>
        </jobs>
    </crontab>

    <queues>
        <default>
            <label>Default Queue</label>
            <class>lilqueue/queue</class>
            <workers>
                <test>
                    <class>lilqueue/worker</class>
                    <method>test</method>
                </test>
            </workers>
        </default>
        <indexer>
            <label>Indexing queue</label>
            <class>lilqueue/queue</class>
            <workers>
                <indexer>
                    <class>lilqueue/indexer_worker</class>
                    <method>run</method>
                </indexer>
            </workers>
        </indexer>
        <unit_tests>
            <label>Unit Test Queue</label>
            <class>lilqueue/queue</class>
            <workers>
                <test>
                    <class>lilqueue/worker</class>
                    <method>test</method>
                </test>
                <test_error>
                    <class>lilqueue/worker</class>
                    <method>testError</method>
                </test_error>
                <test_success>
                    <class>lilqueue/worker</class>
                    <method>testSuccess</method>
                </test_success>
                <test_retry>
                    <class>lilqueue/worker</class>
                    <method>testRetry</method>
                </test_retry>
            </workers>
        </unit_tests>
    </queues>

    <default>
        <lilqueue>
            <general>
                <queue_method>0</queue_method>
            </general>
            <indexer>
                <enabled>1</enabled>
                <retry_timeout>30</retry_timeout>
                <delay>0</delay>
                <priority>1024</priority>
                <ttr>0</ttr>
            </indexer>
        </lilqueue>
    </default>
</config>